<ng-template #carregandoTpl>
  Carregando ...
</ng-template>

<div class="nav-titulo">
  <div class="titulo">Cadastro | Produto</div>
  <div>
    <button mat-icon-button (click)="voltar()" color="primary" matTooltip="Voltar">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button  (click)="salvar()" [disabled]="form.invalid || envinandoFormulario" color="primary" matTooltip="Salvar">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</div>

<form *ngIf="!loadingMsg; else carregandoTpl" [formGroup]="form" class="row" (submit)="salvar()">

  <mat-form-field class="col-md-8" appearance="outline">
    <mat-label class="required">Descrição</mat-label>
    <input matInput type="text" formControlName="nome" maxlength="100">
    <!-- <mat-error matErrorMessages [control]="form.controls['nome']"></mat-error> -->
  </mat-form-field>

  <mat-form-field class="col-md-4" appearance="outline">
    <mat-label>Unidade de Medida</mat-label>
    <mat-select formControlName="codUnidadeMedida" [compareWith]="compareFn">
      <mat-option *ngFor="let t of unidadeMedidaList" [value]="t">
        {{t.nome}}
      </mat-option>
    </mat-select>
    <!-- <mat-error matErrorMessages [control]="form.controls['codUnidadeMedida']"></mat-error> -->
  </mat-form-field>

</form>
